$black: #121111;
$green: #037693;

@font-face {
  font-family: 'lato-light', sans-serif;
  src: url('/assets/fonts/Lato-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'lato-regular', sans-serif;
  src: url('/assets/fonts/Lato-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'lato-bold', sans-serif;
  src: url('/assets/fonts/Lato-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'lato-black', sans-serif;
  src: url('/assets/fonts/Lato-Black.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'lato-light', sans-serif;
}

.homepage {

  header {
    background: $black;
    width: 100%;
    position: fixed;
    z-index: 100;

    .header-block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 80px;

        img {
          width: 100%;
        }
      }

      .menu {

        .ph-nav-items {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          padding: 0;
          font-size: 0;
          list-style: none;

          li {
            padding: 45px 20px;
            border-top: 2px solid transparent;
            transition: all 0.4s ease-in-out;

            a {
              color: #f5f5f5;
              font-size: 18px;
              font-weight: 300;
              height: 20px;
              transition: all 0.4s ease-in-out;

              &:focus {
                text-decoration: none;
              }
            }

            &:hover {
              background: rgba(white, 0.05);
              border-top: 2px solid white;

              a {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }

      .authorisation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: white;

        p {
          margin: 0;
        }

        img {
          margin: 10px 0;
        }

        .login {
          margin-right: 20px;
        }
      }
    }
  }

  .banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .banner-bg {
      background: url('../images/bg.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      position: relative;

      .iphone-frame {
        width: 300px;
        position: absolute;
        right: 12%;
        top: 40%;
        transform: translate(-50%, 9%);

        img {
          width: 100%;
        }

        .iphone-content {
          position: absolute;
          width: 266px;
          top: 72px;
          left: 50%;
          transform: translatex(-50%);

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .how-it-works {
    width: 100%;
    margin: 80px 0;

    .title {
      color: $green;
      text-align: center;
      margin-bottom: 80px;
      display: inline-block;
      font-size: 50px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: 10px;

      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 4px;
        width: 100px;
        background: $green;
        bottom: 0;
        left: 0;
        border-radius: 8px;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 4px;
        width: 14px;
        background: $green;
        bottom: 0;
        left: 110px;
        border-radius: 8px;
      }
    }

    .instruction {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;

      .image {
        width: 100px;
        height: 100px;
        border: 1px solid $green;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover img {
          transform: scale(1.1);
        }

        img {
          width: 50px;
          object-fit: contain;
          transition: all 0.4s ease-in-out;
        }
      }

      .description {
        color: $green;
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
      }
    }
  }

  .features {
    background-color: #037693;
    color: white;
    padding: 40px 0;

    .features-title {
      font-size: 50px;
      font-weight: 700;
      max-width: 300px;
    }

    .features-desc {
      position: relative;
      font-size: 30px;
      margin: 20px 0;

      &:after {
        content: '';
        position: absolute;
        bottom: 6px;
        right: 90px;
        padding-left: 10px;
        width: 200px;
        height: 2px;
        background: white;

      }
    }

    .features-text {
      font-size: 16px;
    }

    .features-image {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}